* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }
 
 body {
    background-image: url("https://wac-cdn-2.atlassian.com/image/upload/f_auto,q_auto/dam/jcr:f505eadc-b6e5-4644-b96e-a8136ec63ceb/Hero-IMG-2x.png?cdnVersion=136");
    min-height: 100vh;
 }
 
 .container {
    width: 500px;
 }
 
 .todo_form {
    border-radius: 8px;
 }
 
 .todo_input {
    border-radius: 4px 0 0 4px;
    border: none;
    outline: none;
 }
 
 .todo_btn {
    border-radius: 0 4px 4px 0;
    border: none;
    outline: none;
    background-color: rgb(184, 184, 184);
    cursor: pointer;
    transition: 0.3s ease all;
 }
 
 .todo_btn:hover {
    background-color: rgb(208, 225, 240);
 }
 
 .todo_container {
    border-radius: 8px;
    background-color: rgba(152, 215, 249, 0.349);
 }
 
 .todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid rgb(228, 203, 171);
 }
 
 .todo:last-child { 
    border: none;
 }
 
 .todo_left {
    position: relative;
    display: flex;
    align-items: center;
 }
 
 .todo_editInput {
    position: absolute;
    padding: 6px 8px;
    font-size: 0.9rem;
    border-radius: 4px 0 0 4px;
    border: none;
    outline: none;
    opacity: 0;
    pointer-events: none;
 }
 
 .todo_text, .todo_edit {
    color: #46da2b;
    margin-left: 8px;
    font-size: 25px;
 }
 
 .todo_cb:checked ~ .todo_text {
    text-decoration: line-through;
    color: gray;
 }
 
 .todo_right {
    position: relative;
 }
 
 .todo_delete {
    background-color: rgba(255, 187, 0, 0.74);
    padding: 6px 8px;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    border-radius: 4px 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease all;
 }
 
 .todo_delete:hover {
    background-color: rgba(177, 105, 23, 0.493);
 }
 
 .todo_edit {
    background-color: saddlebrown;
    padding: 6px 8px;
    font-size: 0.9rem;
    color: white;
    border-radius: 4px 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease all;
 }
 
 .todo_edit:hover {
    background-color: rgb(185, 89, 11);
 }
 
 .todo_save {
    position: absolute;
    right: 0;
    background-color: rgb(61, 164, 224);
    padding: 6px 8px;
    font-size: 0.9rem;
    color: white;
    border-radius: 4px 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease all;
    opacity: 0;
    pointer-events: none;
 }
 
 .todo_save:hover {
    background-color: rgb(65, 147, 194);
 }
 
 .todo.-edited .todo_left *, .todo.-edited .todo_right * {
    opacity: 0;
    pointer-events: none;
 }
 
 .todo.-edited .todo_left .todo_editInput, .todo.-edited .todo_right .todo_save {
    opacity: 1;
    pointer-events: all;
 }